APP_NAME=Laravel
APP_NAVBAR_NAME=
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=sqlite

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

ARKSCAN_NETWORK=development
ARKSCAN_DB_HOST=127.0.0.1
ARKSCAN_DB_PORT=5432
ARKSCAN_DB_DATABASE=homestead
ARKSCAN_DB_USERNAME=homestead
ARKSCAN_DB_PASSWORD=password

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# Development
DEBUGBAR_ENABLED=false
RESPONSE_CACHE_ENABLED=false
TELESCOPE_ENABLED=false
DARK_MODE_ENABLED=true

HORIZON_ADDRESSES=

# 5 Years session lifetime
SESSION_LIFETIME=2628000

ARKSCAN_VAULT_URL="https://app.arkvault.io/#/"

ARKSCAN_MARKET_DATA_PROVIDER_SERVICE="\\App\\Services\\MarketDataProviders\\CoinGecko"
COINGECKO_EXCEPTION_FREQUENCY=60
CRYPTOCOMPARE_EXCEPTION_FREQUENCY=60
COINGECKO_EXCEPTION_IGNORE_ERRORS=false
CRYPTOCOMPARE_EXCEPTION_IGNORE_ERRORS=false

SENTRY_LARAVEL_DSN=

ARKSCAN_SUPPORT_ENABLED=false
ZENDESK_SUBDOMAIN=
ZENDESK_USERNAME=
ZENDESK_TOKEN=

ARKSCAN_MAIL_WALLET_SUBMITTED=support@ardenthq.com

EXCHANGES_LIST_SRC=https://raw.githubusercontent.com/ArkEcosystem/common/master/arkscan/exchanges.json
EXCHANGES_ICON_URL=https://raw.githubusercontent.com/ArkEcosystem/common/master/arkscan/icons/

SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://127.0.0.1:7700
MEILISEARCH_KEY=

SCOUT_RUN_JOBS=false

ARKSCAN_PRODUCTIVITY_DANGER=97
ARKSCAN_PRODUCTIVITY_WARNING=99.8
ARKSCAN_PAGINATION_PER_PAGE=25

ARKCONNECT_ENABLED=false
