APP_NAME=Laravel
APP_NAVBAR_NAME=
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

ARKSCAN_NAVBAR_TAG="alpha"

DB_CONNECTION=sqlite

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

ARKSCAN_NETWORK=development
ARKSCAN_DB_HOST=127.0.0.1
ARKSCAN_DB_PORT=5432
ARKSCAN_DB_DATABASE=homestead
ARKSCAN_DB_USERNAME=homestead
ARKSCAN_DB_PASSWORD=password

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# Development
DEBUGBAR_ENABLED=false
RESPONSE_CACHE_ENABLED=false
TELESCOPE_ENABLED=false
DARK_MODE_ENABLED=true

HORIZON_ADDRESSES=

# 5 Years session lifetime
SESSION_LIFETIME=2628000

ARKSCAN_VAULT_URL="https://app.arkvault.io/#/"

ARKSCAN_MAINNET_EXPLORER_URL=https://live.arkscan.io
ARKSCAN_TESTNET_EXPLORER_URL=https://test.arkscan.io
ARKSCAN_LEGACY_EXPLORER_URL=https://test.arkscan.io

ARKSCAN_MARKET_DATA_PROVIDER_SERVICE="\\App\\Services\\MarketDataProviders\\CoinGecko"
COINGECKO_EXCEPTION_FREQUENCY=60
CRYPTOCOMPARE_EXCEPTION_FREQUENCY=60
COINGECKO_EXCEPTION_IGNORE_ERRORS=false
CRYPTOCOMPARE_EXCEPTION_IGNORE_ERRORS=false

SENTRY_LARAVEL_DSN=

ARKSCAN_SUPPORT_ENABLED=false
ZENDESK_SUBDOMAIN=
ZENDESK_USERNAME=
ZENDESK_TOKEN=

ARKSCAN_MAIL_WALLET_SUBMITTED=support@ardenthq.com

EXCHANGES_LIST_SRC=https://raw.githubusercontent.com/ArkEcosystem/common/master/arkscan/exchanges.json
EXCHANGES_ICON_URL=https://raw.githubusercontent.com/ArkEcosystem/common/master/arkscan/icons/

SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://127.0.0.1:7700
MEILISEARCH_KEY=

SCOUT_RUN_JOBS=false

ARKSCAN_PRODUCTIVITY_DANGER=97
ARKSCAN_PRODUCTIVITY_WARNING=99.8
ARKSCAN_PAGINATION_PER_PAGE=25

ARKCONNECT_ENABLED=false

VITE_HOST=localhost

CURRENCY_DECIMALS_CRYPTO=18
CURRENCY_DECIMALS_CRYPTO_SMALL=18
CURRENCY_NOTATION_CRYPTO=1000000000000000000

BROADCAST_DRIVER=reverb

REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=8080

REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST=arkscan.test
REVERB_PORT=8080
REVERB_PORT_TLS=443
REVERB_SCHEME=https
REVERB_ALLOWED_ORIGINS="*"
REVERB_CERT_FILE=
REVERB_VERIFY_PEERS=true

VITE_BROADCAST_DRIVER="${BROADCAST_DRIVER}"
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_PORT_TLS="${REVERB_PORT_TLS}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

ARKSCAN_WEBHOOKS_BLOCK_APPLIED_TTL=8
ARKSCAN_WEBHOOKS_TRANSACTION_APPLIED_TTL=8
ARKSCAN_WEBHOOKS_WALLET_VOTE_TTL=8
ARKSCAN_WEBHOOKS_CURRENCY_UPDATE_TTL=8
ARKSCAN_WEBHOOKS_STATISTICS_UPDATE_TTL=8

ARKSCAN_CONTRACT_CONSENSUS_ADDRESS=
ARKSCAN_CONTRACT_MULTIPAYMENT_ADDRESS=
ARKSCAN_CONTRACT_USERNAME_ADDRESS=

ARKSCAN_CONTRACT_TRANSFER_METHOD=a9059cbb
ARKSCAN_CONTRACT_MULTIPAYMENT_METHOD=084ce708
ARKSCAN_CONTRACT_VALIDATOR_REGISTRATION_METHOD=602a9eee
ARKSCAN_CONTRACT_VALIDATOR_RESIGNATION_METHOD=b85f5da2
ARKSCAN_CONTRACT_VALIDATOR_UPDATE_METHOD=5a8eed73
ARKSCAN_CONTRACT_VOTE_METHOD=6dd7d8ea
ARKSCAN_CONTRACT_UNVOTE_METHOD=3174b689
ARKSCAN_CONTRACT_USERNAME_REGISTRATION_METHOD=36a94134
ARKSCAN_CONTRACT_USERNAME_RESIGNATION_METHOD=ebed6dab
ARKSCAN_CONTRACT_DEPLOYMENT_METHOD=60806040
