parameters:
    paths:
        - app
    excludePaths:
        - app/Console/Playbooks
        - app/Console/Commands/RunPlaybookCommand.php
        - app/Services/Monitor
    level: 8
    ignoreErrors:
        # This error is caused by some Illuminate and Livewire classes not being abstract.
        - '#not allowed to extend#'
        # We are using nullable return types because there are cases where it makes no sense to throw an exception because a null value is to be expected.
        - '#has a nullable return type declaration#'
        # Same as the null return type because a null value sometimes makes more sense than a specific default or exception.
        - '#with null as default value#'
        # Laravel
        - '#Dynamic call to static method#'
        # FIXME
        - '#PendingDispatch given#'
        - '#with a nullable type declaration#'
    checkMissingIterableValueType: false
