/* Custom Overrides Dark Theme */
/* These are meant to move to foundation when updating dark mode on other projects */
.dark {
    /* Dark Color */
    --theme-color-dark-50: #e3e8ea;
    --theme-color-dark-100: #cad2d7;
    --theme-color-dark-200: #a4b1bc;
    --theme-color-dark-300: #788a98;
    --theme-color-dark-400: #5d6f7d;
    --theme-color-dark-500: #505d6a;
    --theme-color-dark-600: #454f59;
    --theme-color-dark-700: #3d444d;
    --theme-color-dark-800: #363b43;
    --theme-color-dark-900: #23272d;
    --theme-color-dark-950: #191d22;

    /* Dark Blue Color */
    --theme-color-dark-blue-50: #eff6ff;
    --theme-color-dark-blue-100: #dceafd;
    --theme-color-dark-blue-200: #c1dbfc;
    --theme-color-dark-blue-300: #96c5fa;
    --theme-color-dark-blue-400: #539bf5;
    --theme-color-dark-blue-500: #4082f1;
    --theme-color-dark-blue-600: #2a64e6;
    --theme-color-dark-blue-700: #224fd3;
    --theme-color-dark-blue-800: #2242ab;
    --theme-color-dark-blue-900: #213b87;
    --theme-color-dark-blue-950: #192652;

    /* Existing color overrides */
    --theme-color-success-500: #42b263;
    --theme-color-success-700: #307845;

    --theme-color-primary-600: var(--theme-color-dark-blue-400);

    /* Secondary Overrides */
    --theme-color-secondary-200: var(--theme-color-dark-50);
    --theme-color-secondary-500: var(--theme-color-dark-200);
    --theme-color-secondary-600: var(--theme-color-dark-300);
    --theme-color-secondary-700: var(--theme-color-dark-500);
    --theme-color-secondary-800: var(--theme-color-dark-700);
    --theme-color-secondary-900: var(--theme-color-dark-900);
    --color-black: var(--theme-color-dark-950);
}

.dark .link {
    @apply text-theme-dark-blue-400;
}

.dark .link:hover {
    @apply text-theme-dark-blue-500;
}

.dark .button-primary {
    @apply bg-theme-dark-blue-500;
}

.dark .button-primary:hover {
    @apply bg-theme-dark-blue-600;
}

.dark .button-secondary {
    @apply bg-theme-dark-800;
    box-shadow: 0 0 1px 1px var(--theme-color-dark-600) inset;
}

.dark .button-secondary:focus-visible {
    @apply outline-none ring-2 ring-theme-primary-300;
}

.dark .button-secondary:hover {
    @apply bg-theme-dark-blue-600;
}

.dark .ark-info-element > div.tooltip-content > div,
.dark .ark-info-element > div:not(.tooltip-content) {
    @apply p-[0.3175rem] text-theme-dark-50;
    box-shadow: 0 0 1px 1px var(--theme-color-dark-600) inset;
}

.dark .ark-info-element svg {
    @apply h-2.5 w-2.5;
}

.dark .ark-info-element > div.tooltip-content:hover > div,
.dark .ark-info-element > div:not(.tooltip-content):hover {
    @apply bg-theme-dark-blue-600 text-theme-dark-50;
    box-shadow: unset;
}

/* Tippy Overwrite Theme */
.dark .tippy-box[data-theme~="ark"] {
    @apply bg-theme-dark-700 text-theme-dark-50;
}

.dark .tippy-box[data-theme~="ark"] .tippy-arrow {
    @apply text-theme-dark-700;
}
