@layer base {
    a,
    button,
    [role="button"],
    .focus-indicator {
        @apply outline-none focus-visible:z-10 focus-visible:rounded focus-visible:no-underline focus-visible:ring-2 focus-visible:ring-theme-primary-500 focus-visible:transition-none focus-visible:dark:ring-theme-dark-blue-300;
    }
}
