html {
    @apply min-h-full bg-white leading-4.25;
}

body {
    @apply flex min-h-screen flex-col font-sans text-theme-secondary-700;
}

#app {
    @apply flex-grow;
}

/* Navbar container */
.content-container {
    @apply px-6 md:px-10;
}

/* Network Status Block */
.network-status-block {
    @apply inline-block w-full border border-transparent bg-theme-secondary-200 text-center;
}
.dark .network-status-block {
    @apply border-theme-secondary-800 bg-theme-secondary-900;
}

.network-status-block-entries {
    @apply flex items-center justify-center px-4 py-2 text-xs font-medium;
}

@screen md {
    .network-status-block {
        @apply rounded-lg px-0;
    }
    .network-status-block-entries {
        @apply justify-start;
    }
}

@screen lg {
    .network-status-block {
        @apply w-auto;
    }
}

.navbar-settings-option {
    @apply items-center justify-between border-theme-secondary-300 pt-6;
}
.navbar-settings-option:first-child {
    @apply pt-0;
}
.navbar-settings-option:last-child {
    @apply border-0;
}
.navbar-settings-option-with-border {
    @apply navbar-settings-option border-b border-dashed pb-6;
}
.dark .navbar-settings-option {
    @apply border-theme-secondary-800;
}

/* Transaction Icon */
.transaction-icon {
    @apply flex-shrink-0 border-theme-secondary-900 text-theme-secondary-900;
}

body.table-compact:not(.table-compact-until-lg) .transparent {
    @apply bg-transparent;
}

.dark .transaction-icon {
    @apply border-theme-secondary-600 text-theme-secondary-600;
}

@screen md {
    .transaction-icon {
        @apply flex h-11 w-11 items-center justify-center rounded-full border-2;
    }
}

@screen sm {
    .chart-details > .detail-box:nth-child(2n + 1) {
        @apply border-r border-theme-secondary-300 pr-6;
    }
}

@screen md {
    .validator-details > .detail-box:nth-child(2n + 1) {
        @apply border-r border-theme-secondary-300 pr-6;
    }
}

@screen lg {
    .validator-details > .detail-box:not(:last-child) {
        @apply border-r border-theme-secondary-300 pr-6;
    }
}

@screen xl {
    .chart-details > .detail-box:not(:last-child) {
        @apply border-r border-theme-secondary-300 pr-6;
    }

    .chart-details > .detail-box:last-child {
        @apply border-r-0; /* Needed because of the sm chart-details rule matching the 3rd entry if there's only 3 */
    }
}

.dark .validator-details > .detail-box,
.dark .chart-details > .detail-box {
    @apply border-theme-secondary-800;
}

.detail-box {
    @apply items-center;
}

/* Entity Header Item */
.entity-header-item {
    @apply flex;
}
.entity-header-item:last-child {
    @apply border-r-0;
}
.dark .entity-header-item {
    @apply border-theme-secondary-800;
}

@screen sm {
    .entity-header-item:nth-child(odd) {
        @apply pr-7;
    }

    .entity-header-item:nth-child(even) {
        @apply pl-7;
    }

    .entity-header-item:nth-child(odd):not(:last-child) {
        @apply border-r border-theme-secondary-300;
    }

    .dark .entity-header-item:nth-child(odd):not(:last-child) {
        @apply border-theme-secondary-800;
    }
}

@screen xl {
    .entity-header-item:not(:first-child) {
        @apply pl-7;
    }

    .entity-header-item:not(:last-child) {
        @apply pr-7;
    }

    .entity-header-item {
        @apply border-r border-theme-secondary-300;
    }

    .dark .entity-header-item {
        @apply border-theme-secondary-800;
    }
}

/* Loading States */
.loading-state {
    @apply animate-pulse bg-theme-secondary-300;
}

.dark .loading-state {
    @apply bg-theme-secondary-800;
}

/* Tab Badge */
.info-badge {
    @apply ml-1 rounded bg-theme-primary-100 text-sm;
    padding: 2px 6px;
}
.dark .info-badge {
    @apply bg-theme-secondary-900 text-theme-secondary-700;
}

/* Vote Percentage */
.vote-percentage {
    @apply inline-block w-16 text-theme-secondary-500;
}
.dark .vote-percentage {
    @apply text-theme-secondary-600;
}

/* Transaction & Block details */
.details-grid > * {
    @apply border-b border-theme-secondary-300;
}

.details-grid > *:last-child {
    @apply border-b-0;
}

.dark .details-grid > * {
    @apply border-theme-secondary-800;
}

@screen md {
    .details-grid > *:nth-child(2n + 1):nth-last-child(-n + 2),
    .details-grid > *:nth-child(2n + 1):nth-last-child(-n + 2) ~ * {
        @apply border-b-0;
    }
}

/* Validator Monitor */
.round-status-history > span {
    @apply hidden;
}

.round-status-history > span:last-child {
    @apply block;
}

@screen sm {
    .round-status-history > span {
        @apply block;
    }
}

/* Validator Stats Grid */
@screen md {
    .validator-statistics-grid > *:nth-child(2n + 1) {
        @apply border-r border-theme-secondary-800;
    }
}

@screen xl {
    .validator-statistics-grid > *:not(:last-child) {
        @apply border-r border-theme-secondary-800;
    }
}

/* Validator name truncation */
.validator-name-truncate {
    @apply w-full truncate;
}
.validator-name-truncate-listing {
    @apply validator-name-truncate;
    max-width: 7rem;
}

@media (max-width: 375px) {
    .validator-name-truncate-listing {
        max-width: 4.6rem;
    }
}

.validator-name-truncate-prefix {
    @apply validator-name-truncate;
    max-width: 6rem;
}

/* Smartbridge Placeholder truncation */
.smartbridge-placeholder::placeholder {
    text-overflow: ellipsis;
}

/* Wallet status icons */
.wallet-icons-row {
    @apply flex items-center;
}

.wallet-icons-row > *:not(:first-child) {
    @apply ml-2 pl-2;
}

/* Progress circles validators */
.forging-status > circle:first-child {
    stroke: var(--theme-color-secondary-200);
}

.dark .forging-status > circle:first-child {
    stroke: var(--theme-color-secondary-800);
}

/* Vote/Unvote circles */
.vote-circle {
    @apply flex-shrink-0 border-theme-success-500 text-theme-success-500 dark:border-theme-success-600 dark:text-theme-success-600;
}

.unvote-circle {
    @apply flex-shrink-0 border-theme-danger-500 text-theme-danger-500 dark:border-theme-danger-600 dark:text-theme-danger-600;
}

@screen lg {
    .vote-circle,
    .unvote-circle {
        @apply flex h-11 w-11 items-center justify-center rounded-full border-2;
    }
}

/* Wallet Address Styling */
.no-contextual {
    font-variant-ligatures: no-contextual;
}

.chart-custom-tooltip:after {
    border: solid transparent;
    content: "";
    border-color: rgba(0, 0, 0, 0);
    border-width: 7px;
    margin-left: -7px;

    @apply pointer-events-none absolute left-1/2 top-full h-0 w-0 border-t-theme-secondary-900 dark:border-t-theme-dark-800;
}

/* Search */

.search-dropdown a .encapsulated-badge {
    @apply transition-default;
}
.search-dropdown a:hover .encapsulated-badge {
    @apply bg-theme-secondary-200;
}
.search-dropdown a:hover .encapsulated-badge {
    @apply bg-theme-secondary-300 dark:bg-theme-dark-700;
}

/* Favorite */

.favorite-icon svg path {
    fill: transparent;
    stroke: currentColor;

    @apply transition-default;
}

.favorite-icon__selected svg path {
    fill: var(--theme-color-primary-100);
    stroke: var(--theme-color-primary-700);
}

.dark .favorite-icon__selected svg path {
    fill: var(--theme-color-dark-blue-900);
    stroke: var(--theme-color-dark-blue-400);
}

.dim .favorite-icon__selected svg path {
    stroke: var(--theme-color-dark-blue-600);
}

@media (hover: hover) and (pointer: fine) {
    .favorite-icon:hover svg path {
        fill: var(--theme-color-primary-700);
        stroke: var(--theme-color-primary-700);
    }

    .dark .favorite-icon:hover svg path {
        fill: var(--theme-color-dark-blue-500);
        stroke: var(--theme-color-dark-blue-500);
    }
}

/* Modal QR Code - hide numeric plus/minus buttons */
/* Chrome, Safari, Edge, Opera */
input.qr-code-amount::-webkit-outer-spin-button,
input.qr-code-amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.qr-code-amount[type="number"] {
    -moz-appearance: textfield;
}

/* Learn More */
@screen md-lg {
    .arkconnect-arrows {
        background-image: url("/resources/images/wallets/arrows-success.svg") !important;
    }

    .dark .arkconnect-arrows {
        background-image: url("/resources/images/wallets/arrows-success-dark.svg") !important;
    }
}

@screen xl {
    .arkvault-arrows {
        background-image: url("/resources/images/wallets/arrows.svg") !important;
    }

    .arkvault-arrows-home {
        background-image: url("/resources/images/home/arrows.svg") !important;
    }

    .dark .arkvault-arrows {
        background-image: url("/resources/images/wallets/arrows-dark.svg") !important;
    }

    .dark .arkvault-arrows-home {
        background-image: url("/resources/images/home/arrows-dark.svg") !important;
    }

    .dim .arkvault-arrows {
        background-image: url("/resources/images/wallets/arrows-dim.svg") !important;
    }

    .dim .arkvault-arrows-home {
        background-image: url("/resources/images/home/arrows-dim.svg") !important;
    }
}

/* Code Block */
/* Note: I've copied most of the `.custom-scroll` class here. Some of the existing 
   class makes the scrollbar "thick", like it would be on any other website. */
.code-block-custom-scroll::-webkit-scrollbar {
    @apply h-1 w-1.5 rounded-lg;
}

.code-block-custom-scroll::-webkit-scrollbar-track-piece:start {
    @apply bg-transparent;
}

.code-block-custom-scroll::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-theme-primary-200;
}

/** Tooltips */
.tippy-box {
    @apply break-words;
}
