html {
    @apply min-h-full bg-white;
}

body {
    @apply font-sans text-theme-secondary-700;
}

/* Footer bottom fix */
#app {
    min-height: calc(100vh - 69px);
    /* 100vh - footer height */
}

/* Network Status Block */
.network-status-block {
    @apply inline-block w-full text-center border border-transparent bg-theme-secondary-200;
}
.dark .network-status-block {
    @apply bg-theme-secondary-900 border-theme-secondary-800;
}

.network-status-block-entries {
    @apply flex items-center justify-center px-4 py-2 text-xs font-medium;
}

@screen md {
    .network-status-block {
        @apply px-0 rounded-lg;
    }
    .network-status-block-entries {
        @apply justify-start;
    }
}

@screen lg {
    .network-status-block {
        @apply w-auto;
    }
}

.navbar-settings-option {
    @apply items-center justify-between pt-6 border-theme-secondary-300;
}
.navbar-settings-option:first-child {
    @apply pt-0;
}
.navbar-settings-option:last-child {
    @apply border-0;
}
.navbar-settings-option-with-border {
    @apply pb-6 border-b border-dashed navbar-settings-option;
}
.dark .navbar-settings-option {
    @apply border-theme-secondary-800;
}

/* Tabs */
.explorer-tab:first-child {
    @apply ml-6;
}
.explorer-tab::before {
    content: "";
    @apply absolute top-0 left-0 h-4 mt-5 -ml-4 border-l border-theme-secondary-300;
}
.explorer-tab:first-child::before {
    @apply border-l-0;
}
.dark .explorer-tab::before {
    @apply border-theme-secondary-800;
}

/* Transaction Icon */
.transaction-icon {
    @apply flex-shrink-0 text-theme-secondary-900 border-theme-secondary-900;
}

.dark .transaction-icon {
    @apply text-theme-secondary-600 border-theme-secondary-600;
}

@screen md {
    .transaction-icon {
        @apply flex items-center justify-center border-2 rounded-full w-11 h-11;
    }
}

@screen sm {
    .chart-details > .detail-box:nth-child(2n + 1) {
        @apply pr-6 border-r border-theme-secondary-300;
    }
}

@screen md {
    .delegate-details > .detail-box:nth-child(2n + 1) {
        @apply pr-6 border-r border-theme-secondary-300;
    }
}

@screen lg {
    .delegate-details > .detail-box:not(:last-child) {
        @apply pr-6 border-r border-theme-secondary-300;
    }
}

@screen xl {
    .chart-details > .detail-box:not(:last-child) {
        @apply pr-6 border-r border-theme-secondary-300;
    }

    .chart-details > .detail-box:last-child {
        @apply border-r-0; /* Needed because of the sm chart-details rule matching the 3rd entry if there's only 3 */
    }
}

.dark .delegate-details > .detail-box,
.dark .chart-details > .detail-box {
    @apply border-theme-secondary-800;
}

.detail-box {
    @apply items-center;
}

/* Entity Header Item */
.entity-header-item {
    @apply flex;
}
.entity-header-item:last-child {
    @apply border-r-0;
}
.dark .entity-header-item {
    @apply border-theme-secondary-800;
}

@screen sm {
    .entity-header-item:nth-child(odd) {
        @apply pr-7;
    }

    .entity-header-item:nth-child(even) {
        @apply pl-7;
    }

    .entity-header-item:nth-child(odd):not(:last-child) {
        @apply border-r border-theme-secondary-300;
    }

    .dark .entity-header-item:nth-child(odd):not(:last-child) {
        @apply border-theme-secondary-800;
    }
}

@screen xl {
    .entity-header-item:not(:first-child) {
        @apply pl-7;
    }

    .entity-header-item:not(:last-child) {
        @apply pr-7;
    }

    .entity-header-item {
        @apply border-r border-theme-secondary-300;
    }

    .dark .entity-header-item {
        @apply border-theme-secondary-800;
    }
}

/* Loading States */
.loading-state {
    @apply bg-theme-secondary-300 animate-pulse;
}

.dark .loading-state {
    @apply bg-theme-secondary-800;
}

/* Tab Badge */
.info-badge {
    @apply ml-1 text-sm rounded bg-theme-primary-100;
    padding: 2px 6px;
}
.dark .info-badge {
    @apply bg-theme-secondary-900 text-theme-secondary-700;
}

/* Vote Percentage */
.vote-percentage {
    @apply inline-block w-16 text-theme-secondary-500;
}
.dark .vote-percentage {
    @apply text-theme-secondary-600;
}

/* Transaction & Block details */
.details-grid > * {
    @apply border-b border-theme-secondary-300;
}

.details-grid > *:last-child {
    @apply border-b-0;
}

.dark .details-grid > * {
    @apply border-theme-secondary-800;
}

@screen md {
    .details-grid > *:nth-child(2n + 1):nth-last-child(-n + 2),
    .details-grid > *:nth-child(2n + 1):nth-last-child(-n + 2) ~ * {
        @apply border-b-0;
    }
}

/* Delegate Monitor */
.round-status-history > span {
    @apply hidden;
}

.round-status-history > span:last-child {
    @apply block;
}

@screen sm {
    .round-status-history > span {
        @apply block;
    }
}

/* Delegate Stats Grid */
@screen md {
    .delegate-statistics-grid > *:nth-child(2n + 1) {
        @apply border-r border-theme-secondary-800;
    }
}

@screen xl {
    .delegate-statistics-grid > *:not(:last-child) {
        @apply border-r border-theme-secondary-800;
    }
}

/* Delegate name truncation */
.delegate-name-truncate {
    @apply w-full truncate;
}
.delegate-name-truncate-listing {
    @apply delegate-name-truncate;
    max-width: 7rem;
}
.delegate-name-truncate-prefix {
    @apply delegate-name-truncate;
    max-width: 6rem;
}

/* Smartbridge Placeholder truncation */
.smartbridge-placeholder::placeholder {
    text-overflow: ellipsis;
}

/* Wallet status icons */
.wallet-icons-row {
    @apply flex items-center;
}

.wallet-icons-row > *:not(:first-child) {
    @apply pl-2 ml-2;
}

/* Modal QR Code */
.modal-qr-code {
    @apply flex mx-auto border border-theme-secondary-300;
    width: 250px;
}
.dark .modal-qr-code {
    @apply border-0;
}

/* Progress circles delegates */
.forging-status > circle:first-child {
    stroke: var(--theme-color-secondary-200);
}

.dark .forging-status > circle:first-child {
    stroke: var(--theme-color-secondary-800);
}

/* Vote/Unvote circles */
.vote-circle {
    @apply flex-shrink-0 text-theme-success-500 border-theme-success-500 dark:text-theme-success-600 dark:border-theme-success-600;
}

.unvote-circle {
    @apply flex-shrink-0 text-theme-danger-500 border-theme-danger-500 dark:text-theme-danger-600 dark:border-theme-danger-600;
}

@screen lg {
    .vote-circle,
    .unvote-circle {
        @apply flex items-center justify-center border-2 rounded-full w-11 h-11;
    }
}
