/* purgecss start ignore */
.table-container table.sticky-headers th {
    top: 84px;
}
/* purgecss end ignore */

/* Table Avatar */
td.hoverable-cell .table-avatar {
    @apply -my-1 -mr-1 border-4 border-white dark:border-theme-dark-900 rounded-full;
}

tr:hover td.hoverable-cell .table-avatar {
    @apply border-theme-secondary-100;
}

.dark tr:hover td.hoverable-cell .table-avatar {
    @apply border-black;
}

.fiat-hint {
    @apply -ml-1.5 -my-1 bg-theme-danger-100 hover:bg-theme-danger-200 flex items-center justify-center px-2 mr-2 transition-default;
}

.dark .fiat-hint {
    @apply text-white bg-theme-danger-400 hover:bg-theme-danger-500;
}

.table-compact:not(.table-compact-until-lg) table .fiat-hint {
    @apply w-5 h-5 px-0 my-0 ml-0 mr-1 rounded-full;
}

/** Compact Table Styling **/
.table-compact:not(.table-compact-until-lg)
    .table-container
    table
    > tbody
    .full-transaction-icon
    svg,
.table-compact:not(.table-compact-until-lg)
    .table-container
    table
    > tbody
    .transaction-icon,
.table-compact:not(.table-compact-until-lg)
    .table-container
    table
    > tbody
    .vote-circle,
.table-compact:not(.table-compact-until-lg)
    .table-container
    table
    > tbody
    .unvote-circle {
    @apply w-5 h-5 border-0;
}

.table-compact:not(.table-compact-until-lg)
    .table-container
    table
    > tbody
    .avatar-wrapper,
.table-compact:not(.table-compact-until-lg)
    .table-container
    table
    > tbody
    .status-circle,
.table-compact:not(.table-compact-until-lg)
    .table-container
    table
    > tbody
    .arrow-direction
    svg,
.table-compact:not(.table-compact-until-lg)
    .table-container
    table
    > tbody
    .round-status
    svg {
    @apply w-5 h-5;
}

@screen lg {
    .table-compact:not(.table-compact-until-lg)
        .table-container
        table
        > tbody
        .full-transaction-icon
        svg,
    .table-compact:not(.table-compact-until-lg)
        .table-container
        table
        > tbody
        .transaction-icon {
        @apply w-5 h-5 border-0;
    }

    .table-compact:not(.table-compact-until-lg)
        .table-container
        table
        > tbody
        .avatar-wrapper,
    .table-compact:not(.table-compact-until-lg)
        .table-container
        table
        > tbody
        .status-circle {
        @apply w-5 h-5 !important;
    }
}

.table-compact:not(.table-compact-until-lg) .round-status-history {
    @apply space-x-2;
}

.table-compact:not(.table-compact-until-lg) .sender-direction-wrapper {
    @apply p-0 pr-2;
}

body.table-compact-until-lg table .fiat-tooltip-sent,
body.table-compact-until-lg table .fiat-tooltip-received {
    @apply -my-1;
}

body.table-compact-until-lg .table-avatar > div {
    @apply bg-white dark:bg-transparent border-white dark:border-transparent circled-icon;
}

body.table-compact-until-lg .arrow-direction {
    @apply -mr-2 z-5 lg:z-auto flex items-center justify-center border-0 lg:border-2 rounded-full lg:w-11 lg:h-11;
}

.table-compact:not(.table-compact-until-lg) table .button-vote {
    @apply link font-semibold;
}

@media (max-width: 1023px) {
    body.table-compact-until-lg table .button-vote {
        @apply link font-semibold;
    }
}
@screen lg {
    body.table-compact-until-lg table .button-vote {
        @apply button-secondary;
    }
}

@media (max-width: 1023px) {
    .table-container
        table
        > tbody
        > tr
        > td.hoverable-cell
        > div.table-cell-content,
    .table-container table > tbody > tr > td:not(.hoverable-cell) {
        @apply py-3;
    }

    .table-container table > tbody .full-transaction-icon svg,
    .table-container table > tbody .transaction-icon {
        @apply w-5 h-5 border-0;
    }

    .table-container table > tbody .avatar-wrapper,
    .table-container table > tbody .status-circle,
    .table-container table > tbody .arrow-direction svg,
    .table-container table > tbody .round-status svg {
        @apply w-5 h-5;
    }

    .round-status-history {
        @apply space-x-2;
    }

    .sender-direction-wrapper {
        @apply p-0 pr-2;
    }
}

.table-encapsulated thead tr {
    @apply border-none;
}

.table-encapsulated thead th::after {
    @apply border-none;
}

.table-encapsulated thead th {
    @apply text-theme-secondary-700 dark:text-theme-dark-200 font-semibold;
}

.table-list-mobile .table-list-mobile-row {
    @apply space-y-3;
}

.table-list-mobile .table-list-mobile-row {
    @apply border-dashed;
}

.table-encapsulated
    table
    > tbody
    > tr:hover
    > td.hoverable-cell
    > div.table-cell-bg {
    @apply bg-theme-secondary-200 dark:bg-black !important;
}

.table-encapsulated
    table
    > tbody
    > tr:hover
    > td.hoverable-cell:first-child
    > div.table-cell-bg::before,
.table-encapsulated
    table
    > tbody
    > tr:hover
    > td.hoverable-cell:last-child
    > div.table-cell-bg:before,
.table-encapsulated
    table
    > tbody
    > tr:hover
    > td.hoverable-cell.last-cell
    > div.table-cell-bg:before {
    @apply bg-theme-secondary-200 dark:bg-black !important;
}

.table-encapsulated
    table
    > tbody
    > tr:hover
    > td.hoverable-cell
    > .table-cell-content
    .encapsulated-badge {
    @apply bg-theme-secondary-300 dark:bg-theme-dark-700;
}

@media (max-width: 1279px) {
    .table-encapsulated table > tbody > tr > td.hoverable-cell {
        @apply align-top;
    }
}

@screen 2xl {
    .table-encapsulated table > tbody > tr > td.hoverable-cell {
        @apply align-middle;
    }
}

/* Delegate Monitor */

.delegate-monitor {
    @apply relative;
}

@media (max-width: 768px) {
    .delegate-monitor-mobile
        > div:nth-last-child(-n + 1 of .delegate-monitor-favorite) {
        @apply relative mb-10;
    }
    .delegate-monitor-mobile
        > div:nth-last-child(-n + 1 of .delegate-monitor-favorite)::after {
        content: "";
        @apply left-0 right-0 h-1 bg-theme-secondary-300 dark:bg-theme-dark-700 mt-6 block absolute -mx-6;
    }

    .delegate-monitor-mobile
        > div:not(.delegate-monitor-favorite)
        + .delegate-monitor-favorite {
        @apply mb-0;
    }
    .delegate-monitor-mobile
        > div:not(.delegate-monitor-favorite)
        + .delegate-monitor-favorite::after {
        content: none;
    }
}

@screen md {
    .delegate-monitor
        tbody
        tr:nth-last-child(-n + 1 of .delegate-monitor-favorite) {
        @apply border-b-0 relative;
    }
    .delegate-monitor
        tbody
        tr:nth-last-child(-n + 1 of .delegate-monitor-favorite)::after {
        content: "";
        @apply absolute bottom-0 left-0 right-0 border-b border-theme-secondary-300 dark:border-theme-dark-700 -mx-6;
    }
}
