@import "../../vendor/arkecosystem/foundation/resources/assets/css/themes/_navy.css";
@import "./themes/dark.css";
@import "./themes/dim.css";

.light-dark-icon {
    --icon-error-primary-100: var(--theme-color-danger-100);
    --icon-error-primary-600: var(--theme-color-danger-400);
    --icon-error-secondary-300: var(--theme-color-secondary-300);
    --icon-error-secondary-900: var(--theme-color-secondary-900);
}

.dark .light-dark-icon {
    --icon-error-primary-100: var(--theme-color-danger-900);
    --icon-error-primary-600: var(--theme-color-danger-400);
    --icon-error-secondary-200: var(--theme-color-secondary-800);
    --icon-error-secondary-300: var(--theme-color-secondary-800);
    --icon-error-secondary-900: var(--theme-color-secondary-600);
}

:root {
    --theme-orange-dark: #a56d4c;
    --theme-orange-light: #fbeed6;
}

:root.dark {
    --theme-failed-state-bg: #AA6868;
    --theme-failed-state-text: #F39B9B;
}

:root.dim {
    --theme-failed-state-bg: #AB8282;
    --theme-failed-state-text: #CAA0A0;
}
