@import "../../vendor/arkecosystem/foundation/resources/assets/css/themes/_navy.css";
@import "./themes/dark.css";
@import "./themes/dim.css";

.light-dark-icon {
    --icon-error-primary-100: var(--theme-color-danger-100);
    --icon-error-primary-600: var(--theme-color-danger-400);
    --icon-error-secondary-300: var(--theme-color-secondary-300);
    --icon-error-secondary-900: var(--theme-color-secondary-900);
}

.dark .light-dark-icon {
    --icon-error-primary-100: var(--theme-color-danger-900);
    --icon-error-primary-600: var(--theme-color-danger-400);
    --icon-error-secondary-200: var(--theme-color-secondary-800);
    --icon-error-secondary-300: var(--theme-color-secondary-800);
    --icon-error-secondary-900: var(--theme-color-secondary-600);
}

:root {
    --text-base--line-height: 1.0625rem;

    --theme-orange-dark: #a56d4c;
    --theme-orange-light: #fbeed6;

    /* Peer Map Colors*/
    --map-background: var(--theme-color-slate-100);
    --map-land: var(--theme-color-secondary-200);
    --map-land-borders: var(--theme-color-secondary-400);
    --map-peer: var(--theme-color-info-600);
    --map-peer-pulse: var(--theme-color-info-600);
}

:root.dark {
    --theme-failed-state-bg: #aa6868;
    --theme-failed-state-text: #f39b9b;

    /* Peer Map Colors */
    --map-background: #0d1117;
    --map-land: var(--theme-color-dark-900);
    --map-land-borders: var(--theme-color-dark-700);
    --map-peer: var(--theme-color-dark-blue-700);
    --map-peer-pulse: var(--theme-color-dark-blue-700);
}

:root.dim {
    --theme-failed-state-bg: #ab8282;
    --theme-failed-state-text: #caa0a0;

    /* Peer Map Colors */
    --map-background: var(--theme-color-dark-950);
    --map-land: var(--theme-color-dim-900);
    --map-land-borders: var(--theme-color-dim-700);
    --map-peer: var(--theme-color-dark-blue-700);
    --map-peer-pulse: var(--theme-color-dark-blue-700);
}

/* Disable transitions during theme change */
.theme-transitioning *,
.theme-transitioning *::before,
.theme-transitioning *::after {
    transition: none !important;
    animation: none !important;
}
