/** Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/** 3rd party **/
@import "../../node_modules/pikaday/css/pikaday.css";

/** UI Repo Styles **/
@import "../../vendor/arkecosystem/ui/resources/assets/css/styles.css";
@import "../../vendor/arkecosystem/ui/resources/assets/css/_pikaday.css";

/** Custom Styles */
@import "_general.css";
@import "_tables.css";
@import "_focus_indicator.css";
